<div class="four wide column" style="padding-left:0" >
    <div class="ui blue segment">
        <h4 class="ui center aligned header">
            基本信息
        </h4>  
        <table class="ui table" style="border:0"  >
            <tbody>
                <tr>
                    <th class="center aligned four wide" >应用名称</th>
                    <td>v12</td>
                </tr>
                <tr>
                    <th class="center aligned" >功能描述</th>
                    <td>v3 api</td>
                </tr>
                <tr>
                    <th class="center aligned" >仓库地址</th>
                    <td>http://git.shequan.com/background/v12</td>
                </tr>
                <tr>
                    <th class="center aligned" >部署目录</th>
                    <td>/home/ubuntu/workerspace/v12</td>
                </tr>
                <tr>
                    <th class="center aligned" >监控地址</th>
                    <td>zabbix.host.com/app/v12</td>
                </tr>
                <tr>
                    <th class="center aligned" >status</th>
                    <td class="positive">Ok</td>
                </tr>
                <tr>
                    <th class="center aligned" >创建时间</th>
                    <td>2018-1-1 12:00:00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui green segment">
        <h4 class="ui center aligned header">
            应用状态
        </h4>
        <table class="ui table" style="border:0" >
            <thead>
                <tr>
                    <th >主机</th>
                    <th>status</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10.10.234.24</td>
                    <td class="positive" >online</td>
                    <td>
                        {{#ui-button class="tiny small basic green" }}上线{{/ui-button}}
                        {{#ui-button class="tiny small basic red" }}下线{{/ui-button}}
                    </td>
                </tr>
                <tr>
                    <td>10.10.234.24</td>
                    <td class="positive" >online</td>
                    <td>
                        {{#ui-button class="tiny small basic green" }}上线{{/ui-button}}
                        {{#ui-button class="tiny small basic red" }}下线{{/ui-button}}
                    </td>
                </tr>
                <tr>
                    <td>10.10.234.24</td>
                    <td class="positive" >online</td>
                    <td>
                        {{#ui-button class="tiny small basic green" }}上线{{/ui-button}}
                        {{#ui-button class="tiny small basic red" }}下线{{/ui-button}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="twelve wide column" >
    <div class="ui secondary orange menu">
        {{#link-to "app.detail.tags" class="item" }}tags{{/link-to}}
    </div>
    {{outlet}}
</div>