<table class="ui selectable striped table">
     <thead>
        <tr>
          <th>应用名称</th>
          <th>功能描述</th>
          <th>仓库地址</th>
          <th>部署目录</th>
          <th>监控地址</th>
          <th>status</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>v12</td>
          <td>v3 api</td>
          <td>http://git.shequan.com/background/v12</td>
          <td>/home/ubuntu/workerspace/v12</td>
          <td>zabbix.host.com/app/v12</td>
          <td class="positive">Ok</td>
          <td>2018-1-1 12:00:00</td>
          <td>
              {{#link-to "app.detail" class="ui tiny small basic green button" }}详情{{/link-to}}
              {{!-- {{#ui-button class="tiny small basic green" }}部署{{/ui-button}}
              {{#ui-button class="tiny small basic blue" }}扩容{{/ui-button}} --}}
          </td>
        </tr>
        <tr>
          <td>martin_restful</td>
          <td>v2 api</td>
          <td>http://git.shequan.com/background/martin_restful</td>
          <td>/home/ubuntu/workerspace/martin_restful</td>
          <td>zabbix.host.com/app/martin_restful</td>
          <td class="positive">Ok</td>
          <td>2018-1-1 12:00:00</td>
          <td>
              {{#link-to "app.detail" class="ui tiny small basic green button" }}详情{{/link-to}}
              {{#ui-button class="tiny small basic green" }}部署{{/ui-button}}
              {{#ui-button class="tiny small basic blue" }}扩容{{/ui-button}}
          </td>
        </tr>
        <tr>
          <td>martin_worker</td>
          <td>v2 api</td>
          <td>http://git.shequan.com/background/martin_restful</td>
          <td>/home/ubuntu/workerspace/martin_restful</td>
          <td>zabbix.host.com/app/martin_restful</td>
          <td class="positive">Ok</td>
          <td>2018-1-1 12:00:00</td>
          <td>
              {{#link-to "app.detail" class="ui tiny small basic green button" }}详情{{/link-to}}
              {{#ui-button class="tiny small basic green" }}部署{{/ui-button}}
              {{#ui-button class="tiny small basic blue" }}扩容{{/ui-button}}
          </td>
        </tr>
        <tr>
          <td>oil_helper</td>
          <td>oil helper</td>
          <td>http://git.shequan.com/background/oil_helper</td>
          <td>/home/ubuntu/workerspace/oil_helper</td>
          <td>zabbix.host.com/app/martin_restful</td>
          <td class="positive">Ok</td>
          <td>2018-1-1 12:00:00</td>
          <td>
              {{#link-to "app.detail" class="ui tiny small basic green button" }}详情{{/link-to}}
              {{#ui-button class="tiny small basic green" }}部署{{/ui-button}}
              {{#ui-button class="tiny small basic blue" }}扩容{{/ui-button}}
          </td>
        </tr>
      </tbody>
</table>