<div class="ui items" >
    <div class="item" style="border:1px solid #eaeaea;padding:10px;border-left:5px solid #39aa56;" >
        <div class="content" style="width:33.3%" >
            <div class="green header">
                <i class="tag icon"></i>
                20180328a
            </div>
            {{!-- <div class="meta">
                <span class="author">ssss</span>
                <span class="stay"></span>
            </div> --}}
            <div class="description">
                <p>v12 ticket shence before</p>
            </div>
        </div>
        <div class="content" style="width:33.3%" >
            <div class="header">
                <a href="https://github.com/wecatch/ember-easy-orm/commit/4221f74b294ada5a238793ceccebda5bbafcbf56" style="color:#39aa56" >
                    <i class="battery full icon"></i>
                    #42 passed
                </a>
            </div>
            <div class="description">
                3 months ago
            </div>
        </div>
        <div class="content" style="width:33.3%" >
            <div class="extra">
                <button class="ui small green button">部署</button>
                <button class="ui small blue button">日志</button>
            </div>
        </div>
    </div>
    <div class="item" style="border:1px solid #eaeaea;padding:10px;border-left:5px solid #39aa56;" >
        <div class="content" style="width:33.3%" >
            <div class="green header">
                <i class="tag icon"></i>
                20180328a
            </div>
            {{!-- <div class="meta">
                <span class="author">ssss</span>
                <span class="stay"></span>
            </div> --}}
            <div class="description">
                <p>v12 ticket shence before</p>
            </div>
        </div>
        <div class="content" style="width:33.3%" >
            <div class="header">
                <a href="https://github.com/wecatch/ember-easy-orm/commit/4221f74b294ada5a238793ceccebda5bbafcbf56" style="color:#39aa56" >
                    <i class="battery full icon"></i>
                    #42 passed
                </a>
            </div>
            <div class="description">
                3 months ago
            </div>
        </div>
        <div class="content" style="width:33.3%" >
            <div class="extra">
                <button class="ui small green button">部署</button>
                <button class="ui small blue button">日志</button>
            </div>
        </div>
    </div>
</div>
