<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    {{!-- <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div> --}}
  </div>
</div>
<div class="ui grid" style="margin-top:0" >
    <div class="three wide column" style="width:240px !important" >
        <div class="ui vertical menu" >
            <a href="" class="item">
                <h2 class="ui green header">
                    <i class="cube icon"></i>
                    ESPIRE
                </h2>
            </a>
            {{#link-to "index" class="item" }}
                <i class="home icon"></i>
                Dashboard
            {{/link-to}}
            {{#link-to "domain" class="item" }}
                <i class="cube icon"></i>
                Domain
            {{/link-to}}
            {{#link-to "computer" class="item" }}
                <i class="server icon"></i>
                Computer
            {{/link-to}}
            {{#link-to "app" class="item" }}
                <i class="cubes icon"></i>
                APPS
            {{/link-to}}
        </div>              
    </div>
    <div class="thirteen wide column">
        <div class="ui grid">
            {{!-- <div class="row" >
                <div class="ui large menu">
                    <a class="item js-item-siderbar" >
                        <i class="icon th"></i>
                    </a>
                    <div class="ui category search item">
                        <div class="ui transparent icon input">
                        <input class="prompt" type="text" placeholder="Search animals...">
                        <i class="search link icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div> --}}
            <div class="row">
                {{outlet}}
            </div>
        </div>
    </div>
</div>